<!DOCTYPE html>
<html ng-app="mwl.calendar.docs">
  <head>
  	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <script src="https://unpkg.com/moment@2.17.1"></script>
    <script src="https://unpkg.com/interactjs@1"></script>
    <script src="https://unpkg.com/angular@1.6.6/angular.js"></script>
    <script src="https://unpkg.com/angular-animate@1.6.6/angular-animate.js"></script>
    <script src="https://unpkg.com/angular-ui-bootstrap@2/dist/ui-bootstrap-tpls.js"></script>
    <script src="https://unpkg.com/rrule@2"></script>
    <script src="https://unpkg.com/angular-bootstrap-colorpicker@3"></script>
    <script src="https://unpkg.com/angular-bootstrap-calendar"></script>
    <link href="https://unpkg.com/bootstrap@3/dist/css/bootstrap.css" rel="stylesheet">
    <link href="https://unpkg.com/angular-bootstrap-colorpicker@3/css/colorpicker.min.css" rel="stylesheet">
    <link href="https://unpkg.com/angular-bootstrap-calendar/dist/css/angular-bootstrap-calendar.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="style.css">
    <script src="script.js"></script>
    <script src="helpers.js"></script>

    <script src = "PlaceSearch.js"></script>

  </head>
  <body>
  	<!-- Buttons and header -->
    <div ng-controller="btnCtrl" class="text-center">
    	<h2> {{ topMsg }} </h2> 
    	<div id="inputWrapper">
	    	Destination <input type="text" id="destinationInput"><br> 
	    	<button type="button" ng-click="showCal()" onclick="
	    	getLatLong(document.getElementById('destinationInput').value); 
    		setTimeout(function(){initialize(lat, lng);},5000);
	    	">Submit</button>
    	</div>
    </div>
    
    <!-- Calendar -->
    <div ng-controller="EditableDeletableEventsCtrl as vm" id="calendar_wrapper">
  		<ng-include src="'calendarControls.html'"></ng-include>
  		<!-- Calendar by Matt Lewis -->
		  <mwl-calendar
		    events="vm.events"
		    view="vm.calendarView"
		    view-date="vm.viewDate"
		    cell-is-open="vm.cellIsOpen"
		    cell-auto-open-disabled="true">
		  </mwl-calendar>		  
	</div>

	<!-- Add event -->
	<div ng-controller="addEventCtrl" id="addEvent_wrapper">
		<button type="button" ng-click="addEvent()">Add Event</button>
		<!-- Gets information from user for new event-->
		<div id="getInfo">
			<form id="getInfoForm" ng-submit="submitForm(event_title, event_duration_hr, event_duration_min)">
				<div class="form-group">
					<div class="form-group row">
						<label for="event_title">Event Name:</label>
						<input type="text" required="true" id="event_title" ng-model="event_title" />
					</div>
					<div class="form-group row">
						<label for="event_duration_hr">Duration:</label>
					</div>
					<div class="form-group row">
						<label for="event_duration_hr"> Hours</label>
						<input type="number" id="event_duration_hr" ng-model="event_duration_hr" min="0" required="true" style="width:50px"/>
						<label for="event_duration_min">Minutes</label>
						<input type="number" id="event_duration_min" max="59" min="0" ng-model="event_duration_min" required="true" style="width:50px" />
					</div>
					<button type="submit" class="btn btn-primary">Submit</button>
				</div>
			</form>
		</div>
	</div>


	<div id="map"></div>

	<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyACC7GudsQruzi7LLyFrLRq78HnjJvJBlU&libraries=places&callback=initMap"></script>

  </body>
</html>